.customPlayer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
    color: white;
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.2);
}
.controls{
    width: 100%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.playButton{
    width: fit-content;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progressBar{
    width: 98%;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin: 0 10px;
}
.currentProgress{
    /* width: 50%; */
    background-color: rgb(63,81,181);
    height: 10px;
    position: absolute;
    pointer-events: none;
    left: 0;
    transition: width 1000ms linear;
    /* border-radius: 5px; */
    
}
.currentProgress::after{
    content: ' ';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    left: 100%;
    background-color: rgb(63,81,181);
    transform: translateX(-50%);
    box-shadow: 0 0 2px black;
}
.loadedProgress{
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    pointer-events: none;
    transition: width 1000ms linear;
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: rgba(63, 81, 181); */
    z-index: -2;
}

.progressBackground{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    height: 10px;
}

.showTime{
    display: flex;
    justify-content: center;
    min-width: 100px;
    width: fit-content;
    height: auto;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translate(100%, -150%);
    border-radius: 5px;
    transition: none;
}

.volumeBar{
    width: fit-content;
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
    /* margin-right: 10px; */
    transition: 0.3s width;
    overflow: hidden;
}


.durationBar{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    display: flex;
    font-weight: bold;
    margin-left: 15px;
}
.toggleChat{
    position: absolute;
    top: 20px;
    left: 100%;
    transform: translateX(-150%);
}

.videoTitlePlayer{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 90%;
    width: fit-content;
    padding: 25px;
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 800;
    font-size: 30px;
}

.lowerControls{
    display: flex;
    width: 100%;
    align-items: center;
}

.fullScreen{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.playbackRate{
    position: relative;
}
.playbackRateChoose{
    position: absolute;
    top: 0;
    color: white;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2px black;
}
.playbackOption{
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.3s background;
    cursor: pointer;
}
.playbackOption:hover{
    background-color: #121212;
}


.fullscreenPlayer{
    position: fixed;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 100;
    background-color: #121212;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.controls-enter {
    opacity: 0;
    /* transform: translateY(40px); */
  }
  .controls-enter-active {
    opacity: 1;
    transition: opacity 200ms, transform 200ms ;
    /* transform: translateY(0%); */

  }
  .controls-exit {
    opacity: 1;
    /* transform: translateY(0%); */
  }
  .controls-exit-active {
    opacity: 0;
    transition: opacity 200ms, transform 200ms;
    /* transform: translateY(40px); */
  }

  .sliderFadeIn-enter {
    opacity: 0;
    width: 0;
    /* transform: translateY(40px); */
  }

  .sliderFadeIn-enter-active {
    opacity: 1;
    width: 50px;
    transition: opacity 200ms, width 2000ms ;
    /* transform: translateY(0%); */

  }
  .sliderFadeIn-exit {
    opacity: 1;
    width: 50px;
    /* transform: translateY(0%); */
  }
  .sliderFadeIn-exit-active {
    opacity: 0;
    width: 0;
    transition: opacity 200ms, width 2000ms;
    /* transform: translateY(40px); */
  }


@media (max-width:500px){
    .durationBar{
        font-size: 12px;
    }
    /* .controls{
        transform: scale(0.9);
    } */
}