.customPlayer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* border: 2px solid red; */
	z-index: 2;
    color: white;
    display: flex;
    align-items: flex-end;
}
.controls{
    /* margin-top: auto; */
    /* border: 2px solid blue; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.playButton{
    width: fit-content;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progressBar{
    width: 100%;
    position: relative;
}

.showTimer{
    width: fit-content;
    height: auto;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.493);
    position: absolute;
    transform: translate(0%, -160%);
    border-radius: 5px;
}

.volumeBar{
    width: 200px;
    padding-left: 15px;
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.MuiLinearProgress-bar{
    pointer-events: none;
}
.progressDot{
    width: 20px;
    height: 20px;
    background-color: rgb(63,81,181);
    box-shadow: 0 0 2px black;
    position: absolute;
    border-radius: 50%;
    transform:translate(0%, -75%)
}

.durationBar{
    padding-left: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}





.controls-enter {
    opacity: 0;
    transform: translateY(40px);
  }
  .controls-enter-active {
    opacity: 1;
    transition: opacity 200ms, transform 200ms ;
    transform: translateY(0%);

  }
  .controls-exit {
    opacity: 1;
    transform: translateY(0%);
  }
  .controls-exit-active {
    opacity: 0;
    transition: opacity 200ms, transform 200ms;
    transform: translateY(40px);
  }