.adminButtonsDiv {
	display: flex;
	justify-content: center;
}
.delayInfoContainer {
	display: flex;
	width: 100%;
	flex-direction: column;
	background-color: black;
}
.delay {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px auto;
}

.twitchLoginButton {
	padding: 10px 0;
	display: flex;
	justify-content: flex-end;
	margin-right: 3%;
}
.addVideo_Form {
	width: 90vw;
	max-width: 500px;
	padding: 30px;
	background-color: #121212;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	box-shadow: 0 0 5px black;
}

.inputsDiv {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	flex-wrap: wrap;
}

.adminButtons {
	display: flex;
	gap: 10px;
	margin: 0 auto;
	width: fit-content;
}

.manageIcons {
	display: flex;
}
.isLive{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	border-radius: 5px;
}

.player-wrapper{
	position: relative;
	overflow: hidden;
}

@media (max-width: 720px) {
	.delayInfoContainer {
		flex-direction: column;
	}
	.delay {
		width: 100%;
		border-left: none;
		padding: 10px 0;
	}
	.queueItem .addedBy {
		display: none;
	}
	.adminPanel {
		margin-top: 50px;
	}
}
