.adminList {
	width: fit-content;
	margin: 0 auto;
	position: relative;
}
.adminListArray {
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	padding: 15px;
	background-color: black;
	border-radius: 5px;
}
.adminListArray {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	z-index: 100;
	max-height: 200px;

	overflow: scroll;
}
