.queue,
.queue_List {
	display: flex;
	color: white;
	flex-direction: column;
	width: 95%;
	height: fit-content;
	gap: 5px;
	padding: 0 0 20px 0;
	align-self: center;
}
.queue_List {
	width: 100%;

}

.queueItem,
.emptyQueueText {
	padding: 5px;
	display: flex;
	width: 100%;
	border-radius: 10px;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	background-color: #0f0f0f;
	font-size: 20px;
}
.queueItem{
	min-height: 120px;
}
.emptyQueueText {
	font-size: 40px;
	display: flex;
	justify-content: center;
	color: #242424;
	pointer-events: none;
	user-select: none;
	padding: 20px;
}
.queueItem a {
	text-decoration: none;
	color: inherit;
	text-align: start;
}

.queueItem:nth-child(2) {
	border-top: 2px solid #121212;
	background-color: #121212;
}
.queueItemInfo {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
	/* flex-wrap: wrap; */
	/* word-break: break-word; */
	/* width: 100; */
	gap: 10px;
	max-height: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

}


.queueItem .addedBy {
	display: flex;
	align-items: center;
	padding: 5px;
	background-color: #161616;
	border-radius: 10px;
	font-size: 13px;
	font-weight: 500;
}
.addedBy {
	width: fit-content;
}
.queueItem .videoImg img {
	display: flex;
	width: 150px;
	height: auto;
	border-radius: 10px;
}
.videoImgAndInfo_Container {
	display: flex;
	align-items: center;
	gap: 15px;
	width: 80%;
}

.queue_h3 {
	text-align: start;
	align-self: flex-start;
	padding: 15px 0;
	width: 100%;
	margin: 0 auto;
}
.queueCounter {
	padding: 10px 15px;
	align-self: flex-start;
	background-color: #121212;
	border-radius: 10px;
}

@media (max-width: 500px) {
	.videoImg {
		display: none;
	}
	.queueItem {
		padding: 20px;
	}
}
