.queueItem,
.emptyQueueText {
	padding: 5px;
	display: flex;
	width: 100%;
	border-radius: 10px;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	background-color: #0f0f0f;
	font-size: 20px;
	position: relative;
	border: 1px solid #2b2b2b;
}
.queueItem {
	min-height: 120px;
	max-height: 120px;
	overflow: hidden;
}
.emptyQueueText {
	font-size: 40px;
	display: flex;
	justify-content: center;
	color: #242424;
	pointer-events: none;
	user-select: none;
	padding: 20px;
	letter-spacing: 1px;
}
.queueItem a {
	text-decoration: none;
	color: inherit;
	text-align: start;
}

.queueItemInfo {
	gap: 10px;
	height: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	text-align: start;
}
.queueItemInfo a {
	width: 100%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.queueItem .addedBy {
	display: flex;
	align-items: center;
	padding: 5px;
	background-color: #161616;
	border-radius: 10px;
	font-size: 13px;
	font-weight: 500;
}
.addedBy {
	width: fit-content;
}
.queueItem .videoImg img {
	display: flex;
	width: 150px;
	height: auto;
	overflow: hidden;
	border-radius: 10px;
}
.videoImgAndInfo_Container {
	display: flex;
	align-items: center;
	gap: 15px;
	flex: 1;
}
.queueItemButtons {
	display: flex;
	width: fit-content;
	padding: 15px;
	gap: 10px;
	margin-left: auto;
}

@media (max-width: 500px) {
	.videoImg {
		display: none;
	}
	.queueItem {
		padding: 20px;
	}
}
